<div class="container-fluid">
  <nav class="navbar">
    <ul class="row justify-content-center">
      <li class="col-md-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink='/'>
          <p>Menu</p>
        </a>
      </li>
      <li class="col-md-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink='/'>
          <p>Catering</p>
        </a>
      </li>
      <li class="col-md-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink='/'>
          <p>About us</p>
        </a>
      </li>
      <li class="col-md-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink='/'>
          <p>Contact</p>
        </a>
      </li>
    </ul>
  </nav>
</div>
